{% extends 'default/layout.twig' %}

{% block content %}

    <div class="container">

        <h2>Dashboard</h2>

        <hr>

        <p>Welcome to the Project Manager.</p>
    </div>

{% endblock %}