{% extends '@Default/layout.twig' %}

{% block content %}

<div class="row">

	<div class="col-xs-12">
		<h3>
			<i class="fa fa-thumbs-up"></i>
			Ready to Go!
		</h3>
		
		<p>
			You sucessfully installed the Project Manager.<br>
			You can now close this window and go to the Project Manager root link to login. 
		</p>		
		
		<div class="alert alert-danger">
			<h4>Security Alert</h4>
			<p>Don't forget to delete the install folder from your server.
		</div>
		
	</div>
	
</div>

{% endblock %}