/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 60px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.nav-sidebar {
    margin-top: 5px;
}

.list-group-item-menu {
    background-color: #122b40;
    border-color: #000;
    color: #F0F0F0;
}