/*
 * Base structure
 */
@font-face {
    font-family: Oxygen;
    src: url(fonts/Oxygen-Light.ttf);
}

/* Animations */
@keyframes appear-left-short {
    from {
    	opacity: 0;
    	transform: translateX(50px);
    }
    to {
    	opacity: 1.0;
    }
}

@keyframes appear-bottom-short {
    from {
    	opacity: 0;
    	transform: translateY(50px);
    }
    to {
    	opacity: 1.0;
    }
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 0px;
	overflow: auto;
    font-family: 'Oxygen', sans-serif;
    
    background-color: #efefef;
}

.wrapper {
    width: 100%;
}

.page-wrapper {
	padding: 0 15px;
	padding-top: 55px;
    min-height: 568px;
}

@media(min-width:768px) {
    .page-wrapper {
        position: inherit;
        margin: 0px 0 0 230px;
        padding: 0 30px;
    }
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h2 {
	font-weight: bold;
	font-size: 1.4em;
	padding: 12px;
	background-color: #FFF;
	
	color: #030000;
	margin-bottom: 12px;
	
	border: 1px solid #e5e5e5;
	border-bottom: 2px solid #DF604B;
}

label {
	font-weight: bold;
}

p {
	margin-bottom: 12px;
}

.graph-col {
    text-align: center;
}

.right-padding-5 {
	padding-right: 5px;
}

.alert {
	margin-top: 15px;
}

/* ====== Navigation CSS ====== */
.navbar-fixed-top{
	background-color: #030000 !important;
	border-bottom: 2px solid #E6AE55 !important;
}

.navbar-header {
	width: 100%;
	border-bottom: 2px solid #E6AE55;
}

@media(min-width:768px) {
	.navbar-default {
		height: 100%;
	}	
}

.navbar-brand {
	color: #f0f0f0 !important;
}

.navbar-default {
	background-color: #4D8196;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar ul li {
	background-color: #4D8196;
    border-bottom: 1px solid #cfcfcf;
}

.sidebar ul li a {
	color: #fff;
}

.sidebar ul li a.active {
    background-color: #7DB1C6;
}

.sidebar ul li a:hover {
    background-color: #3D7186;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

@media(min-width:768px) {
    .navbar {
    	width: 250px;
    }
    
    .sidebar {
        z-index: 1;
        position: absolute;
        overflow-y: auto;
        width: 250px;
        margin-top: 51px;
    }
}

/* Panels */
.panel {
	border-radius: 0px;
}
.panel .panel-heading {
	border-radius: 0px;
}

.panel-white {
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	background-color: #FFF;
}

.panel-white .panel-heading {
	border-bottom: 1px solid #e5e5e5;
}

.panel-options {
	padding: 10px;
	border-radius: 6px;
	
	background-color: #f0f0f0;
	
	margin-bottom: 18px;
}

/* Tiles */
.tile {
	padding: 8px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	margin-bottom: 10px;
}

.tile span {
	display: inline-block;
	
	font-size: 2.4em;
	color: #fff;
	margin-right: 8px;
}

@media(max-width:768px) {
	.tile span {
		font-size: 1.8em;
		margin-right: 5px;
	}
	
}

.tile-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 105%;
}

.tile-number {
	font-size: 1.2em;
	font-weight: bold;
}

/* Circle colors */
.circle-red {
	color: #DF4F4F;
}

.circle-blue {
	color: #4F4FDF;
}

.circle-green {
	color: #4FC34F;
}

.circle-gold {
	color: #DFA33F;
}

