{% extends '@Default/layout.twig' %}

{% block content %}

    <h2>Settings</h2>

    <hr>

    <div class="col-md-6 col-sm-12">
		
        <h4>Password Changing</h4>
        <br>

        <form method="post" class="form-group">

            <label for="oldpassword">Old Password</label>
            <input id="oldpassword" type="password" name="oldpassword" value="{{ oldpassword }}" class="form-control" placeholder="" required autofocus>

            <br>

            <label for="newpassword">New Password</label>
            <input id="newpassword" type="password" name="newpassword" value="{{ newpassword }}" class="form-control" placeholder="" required>

            <br>

            <label for="newpasswordconf">Repeat New Password</label>
            <input id="newpasswordconf" type="password" name="newpasswordconf" value="{{ newpasswordconf }}" class="form-control" placeholder="" required>

            <br>

            <p style="text-align: center;">
                <button class="btn btn-md btn-warning" type="submit">Change Password</button>
            </p>

        </form>

    </div>


{% endblock %}