{% extends '@Default/layout.twig' %} {% block content %}

<h2><i class="fa fa-cubes right-padding-5"></i> Project Report</h2>
<div class="row">
	<div class="col-md-6 col-sm-12 graph-col">
	
		<div class="tile">
			<h3>Project of Each Customers</h3>
			{{ Widgets.ProjectByCustomers|raw }}
		</div>
	
	</div>
	
	<div class="col-md-6 col-sm-12 graph-col">
		<div class="tile">
			<h3>Project Products</h3>
			{{ Widgets.ProjectProducts|raw }}
		</div>
	</div>
	
	<div class="col-md-6 col-sm-12 graph-col">
		<div class="tile">
			<h3>Project Total Sales</h3>
			{{ Widgets.ProjectSales|raw }}
		</div>
	</div>
	
	<div class="col-md-6 col-sm-12 graph-col">
		<div class="tile">
			<h3>Paid Products</h3>
			{{ Widgets.ProjectPaidTotal|raw }}
		</div>
	</div>
</div>

{% endblock %}
